@import "../variables";

body {
  header {
    nav {
      div.navbar-menu {
        @include until($desktop) {
          position: absolute;
          left: 0;
          right: 0;
        }
      }
    }
  }
  main {
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    .title {
      position: relative;
      &::before {
        content: "";
        background: $pink;
        position: absolute;
        bottom: -0.5em;
        width: 1em;
        height: 0.25em;
        display: block;
      }
    }
  }
  footer.footer {
    padding: 1rem 1.5rem 1rem;
  }
}
