@import "../variables";

body {
  header {
    nav {
      div.navbar-menu {
        @include until($desktop) {
          position: absolute;
          left: 0;
          right: 0;
        }
      }
    }
  }
  main {
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  }
  footer.footer {
    padding: 1rem 1.5rem 1rem;
  }
}
