@import "../helpers";
@import "../variables";

.index {
    .carousel {
        @include flex-col;
        height: 50vh;
        min-height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(/bg.jpg);
        background-size: cover;
    }
    .search {
        // background: url(/search.png);
        background-position: center center;
        text-align: center;
        .field {
            max-width: 750px;
            margin: 0 auto;
            .input {
                background: rgba(255, 255, 255, 0.05);
                color: white;
                &::-webkit-input-placeholder {
                    color: #bebebe;
                }
                &:-moz-placeholder {
                    color: #bebebe;
                    opacity: 1;
                }
                &::-moz-placeholder {
                    color: #bebebe;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #bebebe;
                }
                &::-ms-input-placeholder {
                    color: #bebebe;
                }
                &::placeholder {
                    color: #bebebe;
                }
            }
        }
    }
    .skewed {
        position: absolute;
        top: 1.5em;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $greyblue;
        z-index: 0;
        transform-origin: top right;
        transform: skewY(1.5deg);
    }
}
