/***************************
********* Colors 🎨 ********
***************************/

$white: #ffffff;
$pink: #c51f5d;
$dark-pink: #891541;
$light-greyblue: #7b8590;
$greyblue: #243447;
$dark-greyblue: #141d26;

$grey: #f6f9fc;

$google: #cf4332;
$twitter: #55acee;
$facebook: #3c66c4;

/***************************
******** Settings ⚙ *******
***************************/
$headerHeight: 54px;
$footerHeight: 49px;
