/***************************
********* Colors 🎨 ********
***************************/

$white: #ffffff;
$pink: #c51f5d;
$dark-pink: #891541;
$greyblue: #243447;
$dark-greyblue: #141d26;

/***************************
******** Settings ⚙ *******
***************************/
// $menuWith: 230px;
