@import "../../helpers";
@import "../../variables";
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/mixins.sass";

.id {
  // h1 {
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  //   overflow: hidden;
  // }
  figure {
    overflow: hidden;
    img {
      width: 100%;
      @include until($desktop) {
        max-height: 250px;
      }
      max-height: 100%;
      object-fit: contain;
    }
  }
  strong {
    min-width: 130px;
    display: inline-block;
  }
  ul {
    li {
      strong {
        min-width: 30px;
        display: inline-block;
      }
      padding: 0.4em !important;
    }
  }
}
