@import "../../helpers";
@import "../../variables";
@import "../../colors";
@import "../../mixins";

.search-bootleg {
  section {
    > div {
      width: 100%;

      form {
        .searchrow {
          margin-bottom: 0;
          h1 {
            color: $greyblue;
          }
        }
        .contentrow {
          @include until($desktop) {
            flex-direction: column-reverse;
            display: flex;
          }
          div[class*="is-four-fifths-desktop"] {
            @include until($desktop) {
              width: 100%;
            }
          }
          div[class*="is-one-fifth-desktop"] {
            position: relative;
            .sticky {
              position: sticky;
              top: 1em;
            }
          }
          .select {
            > div:first-child {
              height: 2em;
              > select {
                height: 2em;
                line-height: 1.5em;
                padding-bottom: calc(0.5em - 5px);
                padding-top: calc(0.5em - 5px);
              }
            }
            > div:last-child {
              height: 2em;
            }
          }
          .input {
            > input {
              height: 2em;
            }
            > span {
              height: 2em !important;
            }
          }
        }
      }
    }
  }
}
