.rating {
  display: inline;
  &[disabled] {
    button.icon {
      cursor: not-allowed;
      color: #8d959e !important;
    }
  }
  &[readonly] {
    button.icon {
      cursor: initial;
    }
  }
  button.icon {
    outline: transparent none medium;
    position: relative;
    background-color: transparent;
    padding: 0;
    box-sizing: content-box;
    margin: 0px;
    border: medium none;
    cursor: pointer;

    font-weight: 900;
    font-size: 15px;
    // line-height: 1em;
    // cursor: pointer;
    // user-select: none;
    &.is-small {
      font-size: 0.75em !important;
    }
    &.is-medium {
      font-size: 1.75em !important;
    }
    &.is-large {
      font-size: 2.25em !important;
    }
  }
}
